<h1>Welcome <%= current_user.first_name %></h1>
<%= link_to "Edit Profile", edit_user_registration_path, :class => 'ui purple basic button' %>

<h2>Current Trips</h2>

<div class='ui cards'>
  <% @trips.each do |trip| %>
  <div class='card'>
    <div class='content'>
      <div class='header'><%= trip.name %></div>

      <div><%= trip.description %></div>
      <br />
      <%= link_to "Edit", edit_user_trip_path(@user, trip), :class => 'ui mini button'%>

      <%= link_to "Reviews", trip_reviews_path(trip), :class => 'ui mini button'%>

      <%= link_to "Trip Info", trip_locations_path(trip), :class => 'ui mini button' %>
      <br /><br />

      <%= link_to "Delete", [@user, trip], method: :delete, :class => 'ui mini red button' %>


    </div>
  </div>

  <% end %>
</div>

<br />
<%= link_to 'Add Trip', new_user_trip_path, :class => 'green ui button' %>
<br /><br />

<%= button_to "Log Out", destroy_user_session_path, method: :delete, :class => 'red basic ui button' %>