<h1>Welcome <%= current_user.first_name %></h1>
<%= link_to "Edit Profile", edit_user_registration_path, :class => 'ui purple basic button' %>

<h2>Current Trips</h2>

<% @trips.each do |trip| %>
<div><%= trip.name %></div>
<div><%= trip.description %></div>
<div><%= link_to "Edit", edit_user_trip_path(@user, trip)%></div>
<div><%= link_to "Delete", [@user, @trip], method: :delete %> </div>
<div><%= link_to "Reviews", trip_reviews_path(trip)%></div>

<br />
<% end %>

<%= link_to 'Add Trip', new_user_trip_path, :class => 'green ui button' %>

<%= button_to "Log Out", destroy_user_session_path, method: :delete, :class => 'red basic ui button' %>
