<h1><%= @location.name %> - Address</h1>
<p>Street: <%= @address.street%> </p>
<p>City: <%= @address.city%></p>
<p>State: <%= @address.state%></p>
<p>Zip: <%= @address.zip%></p>
<p>Country: <%= @address.country%></p>

