<h1>Add A review</h1>
<%= form_with(model: [@trip, @review], local: true, class: "ui form") do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
  <br />
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <br />
  <%= f.label :score %>
  <%= f.integer :score, required: true %>
  <br />
  <%= f.submit nil, class: "ui button blue" %>
<% end %>
