<h1>Here you can take a deeper look at the places we'll be visitng on our trip to <%= @trip %> </h1>
<p>Click on the little '?' emoji next to each locatio to learn more</p>

    <% @locations.each do |location| %>
      <%= "#{location.name}, #{location.type}" %> <!-- then in our show method you can do location description as well -->
      <%= link_to "â“", trip_location_path(@trip)%> <!-- or is this @location?-->
    <% end %>

    <%= link_to "add a location to this trip!", new_trip_location_path(@trip) %>

    <%# <%= link_to "Back to trips",  %>

    <!-- link_to go back to trips -->